[submodule "_vendor/bootstrap"]
	path = _vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "_vendor/tomorrow-pygments-sass"]
	path = _vendor/tomorrow-pygments-sass
	url = https://github.com/thejameskyle/tomorrow-pygments-sass.git
