@import "../_vendor/bootstrap/scss/bootstrap";
@import "../_vendor/tomorrow-pygments-sass/scss/tomorrow_night_eighties";

$rx-dark-gray: #333;
$rx-purple: #49008E;
$rx-pink: #E00091;

.highlight {
  background: darken($rx-dark-gray, 5%);
}

body {
  padding-top: 40px;
}

.rx-fullscreen,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.rx-docs {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 0.2em solid $rx-pink;
}

.rx-docs__sidebar {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  padding-bottom: 3em;
  overflow: auto;
  background: $rx-dark-gray;
  color: #eee;
  -webkit-font-smoothing: antialiased;
}

.rx-docs__header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 220px;
  right: 0;
  height: 50px;
  padding: 0.3em 1em 0.3em;
  background: #e7e7e7;
}

.rx-docs__content {
  z-index: 0;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 220px;
  right: 0;
  overflow: auto;
  background: white;
}

.rx-docs__nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
  }

  > ul > li > a {
    font-weight: bold;
    padding: 0.4em 0.8em;
    margin: 0;
    color: $rx-pink;
  }

  > ul > li > ul > li > a {
    display: block;
    padding: 0.2em 0.4em;
    padding-left: 1.6em;
    color: #ddd;
  }
}

.rx-logo {
  padding: 0.4em 0.6em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.rx-docs__title {
  background: $rx-purple;
  color: white;
  padding: 3em 0 0.5em;
}

.rx-docs__group_title {
  padding: 3em 0 1em;
  background: $rx-pink;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.rx-docs__group_item {
  padding: 1.2em 0 0.4em;
  border-left: 5px solid transparent;
}

.rx-docs__group_item:target {
  border-left-color: $rx-purple;
}

.rx-docs__methods {
  width: 100%;
  table-layout: fixed;
}

.rx-docs__methods_text {
  width: 50%;
  vertical-align: top;
  background: white;
  padding: 1em 0;
  background: #f9f9f9;

  code {
    background: white;
  }
}

.rx-docs__methods_code {
  width: 50%;
  vertical-align: top;
  background: darken($rx-dark-gray, 5%);
  -webkit-font-smoothing: antialiased;

  pre {
    padding: 1em 1em;
  }

  .nav-tabs {
    background: darken($rx-dark-gray, 2.5%);
    border-bottom-color: darken($rx-dark-gray, 7.5%);
  }

  .nav-item {
    margin: 0 !important;
  }

  .nav-link {
    color: white;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid transparent;

    &:hover,
    &:focus {
      background: darken($rx-dark-gray, 5%);
      border-bottom-color: transparent;
    }

    &:active,
    &.active,
    &.active:hover {
      background: darken($rx-dark-gray, 7.5%);
      color: white;
      border-bottom-color: $rx-pink;
    }
  }
}

@include media-breakpoint-down(md) {
  .rx-docs__methods,
  .rx-docs__methods_text,
  .rx-docs__methods_code {
    display: block;
    width: 100%;
  }
}
